@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --header: 4.375rem;
    /*----------- Colores -------------------*/
    --color_fondo: #fbfbfe;
    --color_nav: #161a2e;
    --color_principal: #ff7559;
    --color_fuente_oscuro: #0e0e0e;
    --color_fuente_claro: #ffffff;

    --color_boton_enviar: #24c115;
    --color_boton_inactivo: #6d6a7c;
    --color_boton_aceptar: #166fe5;
    --color_boton_cancelar: #BB2D3B;

    --color_links: #0000F1;

    /*----------- Margenes -------------------*/
    --marg-8: 0.5rem;
    --marg-16: 1rem;
    --marg-24: 1.5rem;
    --marg-32: 2rem;
    --marg-48: 3rem;
    --marg-64: 4rem;
    --marg-72: 4.5rem;

    /*--------- Fuentes size ----------------*/
    --font-size-12: 12px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-48: 48px;

    /*-------- Overlay img -----------*/
    --overlayBanner: rgba(0,0,0,0.6);
    --overlayCard: rgba(0,0,0,0.5);
}
 /*----------- Estilo general -------------------*/
 *{
    padding:0; 
    margin:0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display';
 }
 body{
    background: var(--color_fondo);
 }
 .grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    column-gap: var(--marg-32);
    overflow: hidden;
    align-items: center;
    /* border: 1px solid blue; */
}
.content{
    grid-column-end: span 4;
}
ul{
    list-style: none;
}
a{
    text-decoration: none
}
main{
    margin-top: var(--header); 
   /*  border: 1px solid blue; */
}
.section{
    margin: 0 var(--marg-32);
    overflow: hidden;
    height: calc(100% - var(--header));
    /*border: 1px solid blue;*/
}
/*---------------------- Header ----------------------*/

.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
    background: var(--color_nav);
    grid-column: 1/4;
    transition: .4s;
    height: var(--header);
    border-bottom: 2px solid var(--color_principal);
    /* border: 1px solid red; */
}
.nav__content,
.nav__menu,
.nav__list,
.nav__link,
.nav__header_icon,
.nav__circle-icon,
.nav__title{
    display: flex;
}
.nav__content{
    justify-content: space-between;
    height: inherit;
    align-items: center; 
    flex-direction: row;
     margin-right:var(--marg-24);
}
.nav__header_icon{
    justify-content: space-between;
    margin-left: var(--marg-24);
}
.nav__circle-icon{
    border-radius: 50%;
    width: 3rem;
    height:3rem;
    align-items: center;
    justify-content: center;
    background: var(--color_principal);
}
.nav__title{
    display: inline-block;
    width: 170px;
    margin: 0 0 0 var(--marg-8);
   
}
.name__title > h1{
     color:var(--color_fondo);
    text-align: left;
    font-size:0.875rem;
}
.img__logo{
    width: 5rem;
    height: 5rem;
    margin-top: 0.7rem;
}
.nav__link{
    color: var(--color_boton_inactivo);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight:200;  
}
.option_oculta_mobile{
    display: none;
}
/*Pestaña activa*/
.active{
    color: var(--color_principal);
}
@media screen and (max-width:598px) {
    /*Menu bottom*/
    .nav__menu{
        flex-direction: column;
        background: var(--color_nav);
        width: 100%;
        height: inherit;
        align-items: center;
        position: fixed;
        bottom: 0;
        left:0;
        border-top: 3px solid var(--color_principal);
        /* border: 1px solid lightgreen;   */
    }
    .container-menu{
        display: flex;
        flex-direction: column;
        width:100%;
        justify-content: center;
       
    }
}

.nav__list{
    flex-direction: row;
    justify-content: space-around;
    width:inherit;
    margin:var(--marg-8) var(--marg-32);
}
.nav__link{
    flex-direction: column;
    text-align: center;
}
.icon{
    font-size: 2rem;
}
.nav__name{
    font-size: 0.875rem;
}

.circle{
    border-radius: 50%;
    background: var(--color_boton_inactivo);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_color{
    font-size: 1.5rem;
    color:var(--color_nav);
    text-align: center;
}

.footer{
    display: none;
}
/*--------------------- HOME -----------------------------*/

.container_home_card{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Opciones */
.group_card_home{
    margin-bottom: var(--marg-24);
}
.card_home{
    width: 296px;
    height:100px;
    overflow: hidden;
    position: relative;    
    margin: var(--marg-16) 0;
    border-radius:10px;

}
.card_home img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.card_img{
    filter: blur(1px);
    position:relative;
}
.card_home::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: multiply;
}
.card_home h1{
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    width:100%;
    padding: auto 3rem;
    text-align: center;
    font-size: var(--font-size-24);
    font-weight: 900;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*------- Sesion testimonio -------*/
.bannerHome__testimonio{
    width: 100%;
    height:100px;
    overflow: hidden;
    position: relative;    
}
.bannerHome__testimonio img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
/*Efecto de la foto*/
img{
    position:relative;
    filter: blur(1px);
}
.bannerHome__testimonio::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: multiply;
}
.bannerHome__testimonio h1{
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    text-align:center;
    padding:0.5rem;
    font-size: var(--font-size-48);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.group_card_testimonio{
    margin-top: var(--marg-16);
    margin-bottom: var(--marg-64);
}
.card_testimonios{
    border:1px solid rgba(20, 18, 18, 0.1);
    border-radius:10px 10px 10px 10px;
    margin-bottom: var(--marg-16);
    width: 100%;
    box-shadow: 3px 4x 5px 0px rgba(0, 0, 0, 0.5);

}
.img_testimonio{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.txt_testimonio p{
    text-align: justify;
    margin: var(--marg-8);
}
/*------------------ IMAGEN BANNER ---------------------------------------*/
.img_banner{
    width: 100%;
    height: 110px;
    margin: 0;
    top: var(--marg-64);
    position: absolute;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}
.banner::before{
    position: absolute;
    content: '';
    top: var(--marg-64);
    height: 110px;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlayBanner);
}
.titulo_banner{
    font-size: var(--font-size-48);
    text-align: center;
    position: relative;
    margin-top: var(--marg-16);
    color: var(--color_fuente_claro);
    z-index: 2;
}
/*----------------------------FILTRO----------------------------------------*/
.buscador{
    margin-top: var(--marg-64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.input_buscador{
    margin-left: -40px;    
    height: 40px;
    width: 85%;
    border-radius: 3px;
    border-color: var(--color_principal);
    position: absolute;
}
.icono_buscador{
    position: relative;
    margin: 10px;
    z-index: 1;
}
.opciones_buscador{
    display: flex;
    flex-direction: row;
    
}
.limpiar, .select_filtro{
    border-radius: 3px;
    width: 50%;
    height: 40px;
}
.limpiar{
    background-color: var(--color_boton_cancelar);
    color: var(--color_fuente_claro);
    border: none;
    outline: none;
    box-shadow: none;
}
.select_filtro{
    background-color: var(--color_nav);
    color: var(--color_fuente_claro);
}
/*---------------------------------- CARDS ADOPCION --------------------------*/
.container_adopciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: var(--marg-64) auto;
}
.groups_cards_adopcion{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 170px;
    grid-gap: 1rem;
    width: 100%;
}
.card_adopcion{
    width: 100%;
    height: 170px;
    overflow: hidden;
    position: relative; 
    border-radius: 3px;
}
.card_adopcion img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}
.img_perro_adop{
 position:relative;
}
.card_adopcion::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:25%;
    background-color: var(--overlayCard);
    border-radius: 3px;
    mix-blend-mode: multiply;
}

.card_adopcion h4{
    color: white;
    position: absolute;
    font-size: var(--font-size-18);
    left:0;
    bottom: 0;
    right: 50%;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    z-index: 1;
}
.opciones_usuario{
    margin-top: var(--marg-24); 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--marg-72);
}
.overlay, .overlay_user{
    position: absolute;
    content: '';
    background-color: var(--overlayCard);
}
.overlay{
    box-sizing: border-box;
    margin: var(--marg-32);
    width: 140px;
    height: 170px;
    object-fit: cover;
    border-radius: 3px;
    text-align: center;    
}

/*------------------------------------ Descripción individual del perro mobile --------------------------*/
.cartel_perro{
    display: flex;
    flex-direction: column;
    margin-top: var(--marg-32);
    margin: var(--marg-32);
    width: 85%;
}
.img_perro_descripcion{
    width: 100%;
    height: 230px;
    align-items: center;
}
.titulo_nombre_perro{
    margin-top: var(--marg-24);
    text-align: center;
    font-size: var(--font-size-32);
    font-weight: bold;
}
.sub_titulo_descripcion, .pie_descripcion{
    text-align: center;
    font-size: var(--font-size-18);
    margin: var(--marg-24);
}
.descripcion_perro{
    text-align: left;
    font-size: var(--font-size-18);
}
.pie_descripcion{
    margin-bottom: var(--marg-72);
}

/*-----------------------------INICIO DE SESIÓN-------------------------------------------------------*/
.fondo{
    background-image: url(../img/fondo.png);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    position: absolute;
    
}
.inputs_inicio{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:15%;
    width: 85%;
}
.titulo_sesion{
    text-align: center;
    font-size: var(--font-size-32);
}
.grupo{
    width: 80%;
    position: relative;
    margin: var(--marg-32);
}
.input_group{
    position:relative;
    margin-top: var(--marg-32);
}

.input_sesion{
    position: relative;
    display: block;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: var(--fuente-general);
    width: 100%;
    height: 40px;
    padding-left:var(--marg-8) ;
    background-color:var(--color_fondo);
    border: 2px solid var(--color_principal);
    
}
.label_sesion{
    position: relative;
    bottom: var(--marg-64);
    display: flex;
    column-gap: 5px;
    left: -20px;
    transition: transform .25s;
    opacity: .25s;
}
.icon_sesion{
    display: inline-flex;
    opacity: 0;
}
.input_sesion:focus+.label_sesion{
    transform: translateX(26px);
}
.input_sesion:focus+.label_sesion .icon_sesion{
    opacity: 1;
    transition-delay: .1s;
}
.input_sesion::placeholder{
    transition: opacity .25s;
}
.input_sesion:focus::placeholder{
    opacity: 0;
}
.input_checkbox{
    margin: 3px;
    display: flex;
    flex-direction:row;
}
.check_label{
    font-size: var(--font-size-12);
    margin-left: 4px;
}
.btn_iniciarSesion, .btn_crearCuenta{
    position: relative;
    left: 20%;
    margin-bottom: var(--marg-24);
    color: var(--color_fuente_claro);
    width: 200px;
    height: 40px;
    font-size: var(--font-size-18);
    padding-top: var(--marg-8);
    padding-bottom: var(--marg-8);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--color_nav);
}
.btn_iniciarSesion{
    background-color: var(--color_boton_aceptar);
}
.btn_crearCuenta{
    margin-top: var(--marg-24);
    background-color: var(--color_boton_enviar);
}
.divisor{
    width: 100%;
    top: 80%;
    height: 1px;
    background-color: var(--color_boton_inactivo); 
    margin-top: var(--marg-24);
}
.links_opciones_sesion{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: var(--marg-64);
    right: var(--marg-8);
    justify-content: center;
    align-items: center;
}
.recuperar_contraseña{
    position: relative;
    text-align: center;
    font-size: var(--font-size-18);
    text-decoration:underline;
    margin-bottom: var(--marg-24);
    color: var(--color_links);
}
/*------------------------  DONACIONES ----------------------------------*/
.container_donaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container_buttom{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 2rem;

}

.botonesDePago{
    width: 100%;
    height: 100px;
    margin-top: var(--marg-24);
}
.btn_estilo{
    margin-top: var(--marg-48);
    color: var(--color_fuente_claro);
    font-size: var(--font-size-32);
    font-weight: 600;
}
.info{
    margin-top: var(--marg-24);
    font-size: var(--font-size-18);
}
.enlace_form{
    color: var( --color_links);
}
#pago_dni,#mercado_pago,#otras_tarjetas{
    background-size: cover;
    background-position: center;
    border: none; 
    padding: 10px 20px;
}
#pago_dni{
    background-image: url('../img/donaciones_botones/botón_dni_bna.png');
}
#mercado_pago{
    background-image: url('../img/donaciones_botones/mercado_de_pago.png');
}
#otras_tarjetas{
    background-image: url('../img/donaciones_botones/otras_tarjetas.png');
}
/*------------------------ FORMULARIO DE DONACIONES ----------------------------------*/
.container_form,
.cardFormulario{
    display: flex;
}
.container_form{   
    max-width:100%;
    justify-content: center;
    margin: var(--marg-8) auto;
    height:100%;
    overflow-y: scroll;
    scrollbar-width: none;

}
.container_form::-webkit-scrollbar{
    width: 0;
    background: transparent;
}
.cardFormulario{
    
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 1rem;
    height:860px;
    margin-bottom: var(--marg-8);
   
} 
.form{
    margin-top: var(--marg-16);
    width:100%;
}
.inputs_donac{
    margin-bottom: var(--marg-16);
}
.info_descripcion{
    text-align: left;
    font-size: var(--font-size-18);
    margin: var(--marg-8) 0 0;
}
.label_formulario{
    opacity: .25s;
    margin-bottom: var(--marg-8);
}
.input_area{
    display: block;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
    height: 60px;
    padding-left:var(--marg-8);
}
.input_area{
    font-family: var(--fuente-general);
    background-color:var(--color_fondo);
    border: 2px solid var(--color_principal);   
}
.content_form{
    width:100%;
}
.btn_enviar{
    width: 100%;
    height: 40px;    
    padding-bottom:0.25rem;
    border-radius: 5px;
    margin-bottom: var(--marg-24);
}
.btn_enviar{
    background: var(--color_boton_enviar);
    box-shadow: 0 0 3px var(--color_nav);
    color: var(--color_fuente_claro);
    font-size: var(--font-size-18);
    text-align: center;
}
/*-----------------------------------PERFIL USUARIO----------------------------------------------------*/
.info_user{
    margin-top: var(--marg-32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   /*  background-image: linear-gradient(180deg, #ffe85191 0, #ffdc5081 8.33%, #ffce516e 16.67%, #ffc05279 25%, #ffaf5367 33.33%, #ff9b5362 41.67%, #f2885350 50%, #e1785265 58.33%, #d0685146 66.67%, #c25c5146 75%, #b5525257 83.33%, #aa4a546b 91.67%, #a0445569 100%); */
}
.content_user{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.foto_perfil{
    width: 195px;
    height: 195px;
}
.nombre_user{
    margin-top: var(--marg-8);
    font-size: var(--font-size-32);
}

.card_user{
    width: 296px;
    height:100px;
    overflow: hidden;
    position: relative;    
    margin: var(--marg-32);
    border-radius:10px;
    margin-top: var(--marg-8);
}
.card_user_2{
    width: 296px;
    height:100px;
    overflow: hidden;
    position: relative;    
    margin: var(--marg-32);
    border-radius:10px;
    margin-top: var(--marg-8);
}
.card_user::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.6);  
}

.img_btn_user{
    width: 365px;
    height: 100px;
    object-fit: cover;
    border-radius: 3px;
}

.titulo_card_user{
    position: relative;
    text-align: center;
    margin-top: -70px;
    z-index: 1;
    color: var(--color_fuente_claro);
    font-size: var(--font-size-24);
}
.btn_cerrar_sesion{
    width: 370px;
    height: 100px;
    background-color: var(--color_boton_cancelar);
}

/*------------------------------------TABLA DONACIONES------------------------------*/
.titulo_donaciones{
    margin-top: var(--marg-32);
    text-align: center;
    font-size: var(--font-size-32);
}
.tabla_donaciones{
    display: flex;
    margin-top: var(--marg-32);
    border: 2px solid var(--color_principal);
    background: white;
    border-collapse: collapse;
    padding:15px;
    box-shadow: 0 1px 5px var(--color_principal);
  
}
.tabla_donaciones tr{
    margin-top: var(--marg-32);
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:var(--color_fuente_oscuro);
    font-weight:normal;
   
}
.titulo_tabla_donaciones{
    width: 90%;
    font-size: var(--font-size-24);
}
.descripcion_tabla_donaciones{
    padding: var(--marg-16);
    font-size: var(--font-size-18);
}
.h4_volver{
    font-size: var(--font-size-18);
    width: 85%;
    margin: var(--marg-32);
    text-align: center;
}
.btn_volver{
    position: absolute;
    width: 150px;
    height: 60px;
    margin-left: 25%;
    border-radius: 3px;
    color: var(--color_fuente_claro);
    padding:var(--marg-16) ;
    font-size: var(--font-size-18);
    text-align: center;
    background-color: var(--color_boton_aceptar);
    margin-bottom: 150px;
}

/*----------------------------FORMULARIO ANIMAL PERDIDO----------------------------------------------*/
.formulario{
    display: flex;
    flex-direction: column;
    background-color: var(--color_fondo);
}
.datos{
    border: 2px solid var(--color_principal);
    margin-top: var(--marg-32);
    border-radius: 3px;
    background-color: var(--color_fondo);
}
.campo{
    display: flex;
    flex-direction: column;
    margin: var(--marg-24);
    
}
.input_texto, .campo textarea{
    background-color: var(--color_fondo);
    height: 40px;
    border: 1px solid var(--color_principal) ;
}
.campo input,textarea{
    margin-top: var(--marg-8);
    border-radius: 3px;
}
.parrafo_castracion{
    margin: var(--marg-24);
    text-align: center;
}

/*-----------------------------PEDIDO DE CASTRACIÓN---------------------------*/
.tipo_animal{
    font-size: var(--font-size-18);
}
.select_animal{
    font-size: var(--font-size-18);
    margin-top: var(--marg-8);
}

/*--------------------------------------CONTACTO-----------------------------------------------------------*/

.contact-wrapper {
    margin: var(--marg-32);
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.icono_solial{
    position: absolute;
} 
.icono_social_ic{
    position: relative;
    margin: var(--marg-16);
    margin-top: 25%;
   
}
.container_iconos_social{
    margin-top: var(--marg-8);
    width: 100%;
    text-align: center;
}
.btn_icono_social{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #ff755985;
    overflow: hidden;
    position: relative;
}
.btn_icono_social i {
    line-height: 2.2;
    transition: 0.2s linear;
}
.btn_icono_social:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn_icono_social::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #ff7559;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn_icono_social:hover::before {
    animation: pounce 0.7s 1;
    top: -10%;
    left: -10%;
}
  
@keyframes pounce {
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}
.ubicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icono_ubicacion{
    margin-top: var(--marg-16);
}
.titulo_contacto_social,.titulo_contacto_ubi{
    margin-top: var(--marg-24);
    text-align: center; 
}
.mapa{
    margin-left: var(--marg-32);
}
.como_llegar{
    margin-top: var(--marg-8);
    margin-bottom: var(--marg-8);
    text-align: center;
}
.titulo_quienes_somos{
    margin: var(--marg-32);
    margin-bottom: var(--marg-64);
    text-align: center;
}




/*------------ MEDIA QUERIES Medium devise and Large devise------------*/
@media (min-width: 599px) and (max-width: 1023px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section {
        margin: var(--marg-48);
    }

    .grid__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        column-gap: var(--marg-32);
    }

    .content {
        grid-column-end: span 6;
    }

    .header {
        grid-column: 1/6;
    }

    .card_adopcion{ 
        padding: var(--marg-8);
        
    }
}

/*------------ MEDIA QUERIES:Extra large devise ------------*/
@media screen and (min-width: 1024px) {
    .group_card_home{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .card_home{
        margin-right: 3rem;

    }
    .bannerHome__testimonio img{
        height: 200px;
    }
    .section {
        flex-direction: column;
        margin: 0 var(--marg-64);
    }

    .grid__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        column-gap: var(--marg-64);
    }

    .content {
        grid-column-end: span 12;
    }

    .header {
        grid-column: 1/12;
    }
    .nav__content{
        display: flex;
        flex-direction: row;
        height:inherit;
        margin: 0 var(--marg-64);
    }
    .container-menu{
        display: flex;
        flex-flow: row;
        right: 0;
        height: var(--header);
    }
    .icon, .icon_color, .circle{
        display: none;
    }
    .nav__header_icon{
        height: inherit;
    }
    .nav__circle-icon{
        margin-top: var(--marg-8);
    }
    .nav__title{
        width:250px;
    }
    .name__title > h1{
        font-size: 1.25rem;
        text-align: left;
    }
    .nav__list{
        margin:0;
    }
    .nav__link{
        margin:0 0  0 var(--marg-24); 
        width: 8.5rem;
        height: 69px;
    }
    .option_oculta_mobile{
        display: block;
    }
    .nav__link:hover{
        color:var(--color_nav);
        background: var(--color_principal);
    }
    .option_oculta{
        display: none;
    }
    .nav__name{
        font-size: 1rem;
        font-weight: 500;
    }

}
    
