@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --header: 4.375rem;
    /*----------- Colores -------------------*/
    --color_fondo: #fbfbfe;
    --color_nav: #161a2e;
    --color_principal: #ff7559;
    --color_fuente_oscuro: #0e0e0e;
    --color_fuente_claro: #ffffff;

    --color_boton_enviar: #24c115;
    --color_boton_inactivo: #6d6a7c;
    --color_boton_aceptar: #166fe5;

    --color_links: #0000F1;

    /*----------- Margenes -------------------*/
    --marg-8: 0.5rem;
    --marg-16: 1rem;
    --marg-24: 1.5rem;
    --marg-32: 2rem;
    --marg-48: 3rem;
    --marg-64: 4rem;
    --marg-72: 4.5rem;

    /*--------- Fuentes size ----------------*/
    --font-size-12: 12px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-48: 48px;

    /*-------- Overlay img -----------*/
    --overlayBanner: rgba(0,0,0,0.6);
    --overlayCard: rgba(0,0,0,0.5);
}
 /*----------- Estilo general -------------------*/
 *{
    padding:0; 
    margin:0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display';
 }
 body{
    background: var(--color_fondo);
 }
 .grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    column-gap: var(--marg-32);
    overflow: hidden;
    align-items: center;
    /* border: 1px solid blue; */
}
.content{
    grid-column-end: span 4;
}
ul{
    list-style: none;
}
a{
    text-decoration: none
}
main{
    margin-top: var(--header); 
   /*  border: 1px solid blue; */
}
.section{
    /*margin: var(--marg-32);*/
    overflow: hidden;
    height: calc(100% - var(--header));
    /*border: 1px solid blue;*/
}
/*---------------------- Header ----------------------*/

.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
    background: var(--color_nav);
    grid-column: 1/4;
    transition: .4s;
    height: var(--header);
    border-bottom: 2px solid var(--color_principal);
    /* border: 1px solid red; */
}
.nav__content,
.nav__menu,
.nav__list,
.nav__link,
.nav__header_icon,
.nav__circle-icon,
.nav__title{
    display: flex;
}
.nav__content{
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    margin: var(--marg-8) var(--marg-32) var(--marg-16);
    /* border: 1px solid rgb(20, 196, 35);   */
}
.nav__header_icon{
    justify-content: space-between;
}
.nav__circle-icon{
    border-radius: 50%;
    width: 3rem;
    height:3rem;
    align-items: center;
    justify-content: center;
    background: var(--color_principal);
}
.nav__title{
   
    display: inline-block;
    width: 170px;
    /* border: 1px solid rgb(196, 20, 137);  */
    margin: var(--marg-8);
}
.name__title > h1{
     color:var(--color_fondo);
    text-align: center;
    font-size:0.875rem;
}
.img__logo{
    width: 5rem;
    height: 5rem;
    margin-top: 0.7rem;
}
.nav__link{
    color: var(--color_boton_inactivo);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight:200;  
}
.active{
    color: var(--color_principal);
}

@media screen and (max-width:598px) {
    /*Menu bottom*/
    .nav__menu{
        flex-direction: column;
        background: var(--color_nav);
        width: 100%;
        height: inherit;
        align-items: center;
        position: fixed;
        bottom: 0;
        left:0;
        border-top: 3px solid var(--color_principal);
        /* border: 1px solid lightgreen;   */
    }
    .container-menu{
        display: flex;
        flex-direction: row;
        width:100%;
        height: inherit;
        justify-content: space-between;
    }
}

.nav__list{
    /* border: 1px solid lightseagreen; */
    flex-direction: row;
    justify-content: space-around;
    width:inherit;
    margin: 0.5rem 2rem 1rem;
}
.nav__link{
    flex-direction: column;
    text-align: center;
}
.icon{
    font-size: 2rem;
}
.nav__name{
    font-size: 0.875rem;
}

.circle{
    border-radius: 50%;
    background: var(--color_boton_inactivo);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_color{
    font-size: 1.5rem;
    color:var(--color_nav);
    text-align: center;
}

.footer{
    display: none;
}


/*------------------ IMAGEN BANNER ---------------------------------------*/
.img_banner{
    width: 100%;
    height: 110px;
    margin: 0;
    top: var(--marg-64);
    position: absolute;
    display: flex;
    flex-direction: column;
}
.banner::before{
    position: absolute;
    content: '';
    top: var(--marg-64);
    height: 110px;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlayBanner);
}
.titulo_banner{
    font-size: var(--font-size-48);
    text-align: center;
    position: relative;
    margin-top: var(--marg-16);
    color: var(--color_fuente_claro);
    z-index: 2;
}

/*---------------------------------- CARDS ADOPCION --------------------------*/
.cards_adopcion{
    margin-top: var(--marg-24);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--marg-72);
}
.card_adopcion{ 
    margin-bottom: var(--marg-24);
    width: 50%;
}
.overlay{
    position: absolute;
    content: '';
    background-color: var(--overlayCard);
}
.img_perro_adop, .overlay{
    box-sizing: border-box;
    margin: var(--marg-32);
    width: 140px;
    height: 170px;
    object-fit: cover;
    border-radius: 3px;
    text-align: center;
    
}
.img_perro_adop{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
}
.btn_info_perro{
    width: 130px;
    height: 170px;
}
.nombre_perro{
    position: relative;
    text-align: center;
    margin-top: -80px;
    z-index: 1;
    color: var(--color_fuente_claro);
    font-size: var(--font-size-24);
}

/*------------------------------------ Descripción individual del perro mobile --------------------------*/
.cartel_perro{
    display: flex;
    flex-direction: column;
    margin-top: var(--marg-32);
    margin: var(--marg-32);
    width: 85%;
}
.img_perro_descripcion{
    width: 100%;
    height: 230px;
    align-items: center;
}
.titulo_nombre_perro{
    margin-top: var(--marg-24);
    text-align: center;
    font-size: var(--font-size-32);
    font-weight: bold;
}
.sub_titulo_descripcion, .pie_descripcion{
    text-align: center;
    font-size: var(--font-size-18);
    margin: var(--marg-24);
}
.descripcion_perro{
    text-align: center;
    font-size: var(--font-size-18);
}
.pie_descripcion{
    margin-bottom: var(--marg-72);
}

/*-----------------------------INICIO DE SESIÓN-------------------------------------------------------*/
.fondo{
    background-image: url(../img/fondo.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    
   
}
.inputs_inicio{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:15%;
    width: 85%;
    margin: var(--marg-32);
}
.titulo_sesion{
    text-align: center;
    font-size: var(--font-size-32);
    margin-bottom: var(--marg-24);
}
.grupo{
    width: 80%;
    position: relative;
    margin: var(--marg-32);
}
.input_group{
    position:relative;
    margin-top: var(--marg-32);
}

.input_sesion{
    position: relative;
    display: block;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family: var(--fuente-general);
    width: 100%;
    height: 40px;
    padding-left:var(--marg-8) ;
    background-color:var(--color_fondo);
    border: 2px solid var(--color_principal);
    
}
.label_sesion{
    position: relative;
    bottom: var(--marg-64);
    display: flex;
    column-gap: 5px;
    left: -20px;
    transition: transform .25s;
    opacity: .25s;
}
.icon_sesion{
    display: inline-flex;
    opacity: 0;
}
.input_sesion:focus+.label_sesion{
    transform: translateX(26px);
}
.input_sesion:focus+.label_sesion .icon_sesion{
    opacity: 1;
    transition-delay: .1s;
}
.input_sesion::placeholder{
    transition: opacity .25s;
}
.input_sesion:focus::placeholder{
    opacity: 0;
}
.input_checkbox{
    margin: 3px;
    display: flex;
    flex-direction:row;
}
.check_label{
    font-size: var(--font-size-12);
    margin-left: 4px;
}
.btn_iniciarSesion, .btn_crearCuenta{
    position: relative;
    left: 20%;
    margin-bottom: var(--marg-24);
    color: var(--color_fuente_claro);
    width: 200px;
    height: 40px;
    font-size: var(--font-size-18);
    padding-top: var(--marg-8);
    padding-bottom: var(--marg-8);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--color_nav);
}
.btn_iniciarSesion{
    background-color: var(--color_boton_aceptar);
}
.btn_crearCuenta{
    margin-top: var(--marg-24);
    background-color: var(--color_boton_enviar);
}
.divisor{
    width: 100%;
    top: 80%;
    height: 1px;
    background-color: var(--color_boton_inactivo); 
    margin-top: var(--marg-24);
}
.links_opciones_sesion{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: var(--marg-64);
    right: var(--marg-8);
    justify-content: center;
    align-items: center;
}
.recuperar_contraseña{
    position: relative;
    text-align: center;
    font-size: var(--font-size-18);
    text-decoration:underline;
    margin-bottom: var(--marg-24);
    color: var(--color_links);
}



/*------------ MEDIA QUERIES Medium devise and Large devise------------*/
@media (min-width: 599px) and (max-width: 1023px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section {
        margin: var(--marg-48);
    }

    .grid__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
        column-gap: var(--marg-32);
    }

    .content {
        grid-column-end: span 6;
    }

    .header {
        grid-column: 1/6;
    }

    .card_adopcion{ 
        padding: var(--marg-8);
        
    }
}

/*------------ MEDIA QUERIES:Extra large devise ------------*/
@media screen and (min-width: 1024px) {
    .section {
        flex-direction: column;
        margin: 0 var(--marg-64);
    }

    .grid__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 100%;
        column-gap: var(--marg-64);
    }

    .content {
        grid-column-end: span 12;
    }

    .header {
        grid-column: 1/12;
    }
}
    
